/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}
body {
width:960px; margin:0 auto;
}
		
header#main-header {
  position:relative; height:130px; padding-top:30px;
}

header h1 a { 
  text-decoration:none;
  position:absolute;
  top:10px;
  left:350px;
  width:960px; height:100px;
}
.gothic {
font-family:League Gothic, Helvetica, sans-serif;
font-size:80px;
color:black;
float:left;
}
.georgia{
font-family:Georgia;
font-size:40px;
font-weight:bold;
color:lightgray;
float:left;
padding-top:15px;
padding-left:10px;
padding-right:10px;
}
nav#top-menu { position:relative; top:120px; text-align:center;}

nav#top-menu { height:30px;
background-color:white;
border-top-style:solid;
border-color:black;
border-bottom-style:solid;
border-width:5px;
}
nav#top-menu ul li { display:inline; float:left; padding:3px 45px 3px; }
nav#top-menu ul li a { display:block; color:black; padding:5px 5px; text-decoration:none;}

section#main-body {
position:relative;
float:left;
width:960px;
padding:50px 10px;
}


article#dog {
float:left;
width:450px;
margin:10px;
}
article#cat {
width:450px;
margin:10px;
float:left;
}

#main-footer {
clear:both;
padding:10px 0px;
}

li {
font-family:Georgia;
font-weight:bold;
font-size:20px;
}
#main-footer {
font-family:Georgia;
font-size:14px;
border-top-style:solid;
border-color:black;
border-width:5px;
padding-left:20px;
padding-right:20px;
}
#main-footer a {
color:pink;
border:5px 5px;
}
#wiki{
float:left;
}
#copyright{
float:right;
}
.blog-post h2 {
font-family:Georgia;
font-size:22px;
font-weight:bold;
padding-bottom:10px;
}
.blog-post p {
font-family:Georgia;
font-size:16px;
line-height:1.2em;
}
.centered img {
width:450px;
}
 
