body {
  width:100%
  margin:0 auto;
  background-color:lightgray;
}

#header-wrapper {
  width:100%;
}
#main-title {
  line-height:1em;
  padding-left:
  font-size:80px;
  padding:2%;
  text-shadow: 3px 3px 0 #ffd217, 5px 5px 0 #5ac7ff, 10px 10px 0 #ffd217, 20px 20px 0 #5ac7ff;
}
#main-nav {
  background-color:#575757;
  width:100%;
  height:40px;
}
#nav-list {
  padding-left:15%;
  padding-right:15%;
}
#nav-list li {
  float:left;
  padding-left:7%;
  padding-right:7%;
  display:inline;
  padding-top:10px;
  padding-bottom:10px;
}
#nav-list a {
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  font-size:16px;
}
#nav-list a:hover {
  color:lightgray;
}

#left-side {
  float:left;
  padding:2%;
  width:75%;
}
#random-words p {
  width:50%;
  font-size:16px;
}
a {
  text-decoration:none;
  color:black;
}
a:hover {
  color:#575757;
  text-decoration:none;
}
#slider {
  margin-left:40px;
  margin-top:100px;
}
.nivoSlider {
  position:relative;
  width:500px; /* Change this to your images width */
  height:300px; /* Change this to your images height */
  background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
  position:absolute;
  top:0px;
  left:0px;
  display:none;
}
.nivoSlider a {
  border:0;
  display:block;
}

#right-side {
  float:right;
  width:20%;
  background-color:white;
  margin-right:1%;
  margin-top:10px;
  border-radius:10px;
  padding-top:1%;
  margin-bottom:10px;
}
#links h1 {
  padding-left:6%;
  padding-right:6%;
}
#links ul {
  padding-left:10%;
  padding-right:10%;
}
#links li {
  padding:2%;
  display:inline;
}

#main-footer {
clear:both;
height:50px;
width:100%;
background-color:#575757;
color:white;
font-size:12px;
font-weight:bold;
}
#main-footer p {
padding-top:10px;
padding-bottom:10px;
padding-left:45%;
}
